# AWS CodeArtifact for private packages under @sikit and @fanos scopes
@sikit:registry=https://si-build-fanxp-shared-domain-891963159870.d.codeartifact.us-east-1.amazonaws.com/npm/si-build-fanxp-shared-repo/
@fanos:registry=https://si-build-fanxp-shared-domain-891963159870.d.codeartifact.us-east-1.amazonaws.com/npm/si-build-fanxp-shared-repo/

# Default registry for all other packages (public)
registry=https://registry.npmjs.org

legacy-peer-deps=true